In [1]:
import pandas as pd
import numpy as nm
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sn

In [3]:
df = pd.read_csv("G:\Online Trainings\Letsupgrade\Day 21\general_data.csv")
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [4]:
df.dropna(inplace=True)
df.shape

(4382, 24)

In [5]:
df = df.drop(columns = ['EmployeeID', 'EmployeeCount', 'Over18', 'StandardHours', ])

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
enc = LabelEncoder()
df.Attrition = enc.fit_transform(df.Attrition)
df['BusinessTravel'] = enc.fit_transform(df['BusinessTravel'])
df['Department'] = enc.fit_transform(df['Department'])
df['EducationField'] = enc.fit_transform(df['EducationField'])
df['Gender'] = enc.fit_transform(df['Gender'])
df['JobRole'] = enc.fit_transform(df['JobRole'])
df['MaritalStatus'] = enc.fit_transform(df['MaritalStatus'])
df

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,Gender,JobLevel,JobRole,MaritalStatus,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,1,0,1,0,1,131160,1.0,11,0,1.0,6,1,0,0
1,31,1,1,1,10,1,1,0,1,6,2,41890,0.0,23,1,6.0,3,5,1,4
2,32,0,1,1,17,4,4,1,4,7,1,193280,1.0,15,3,5.0,2,5,0,3
3,38,0,0,1,2,5,1,1,3,1,1,83210,3.0,11,3,13.0,5,8,7,5
4,32,0,2,1,10,1,3,1,1,7,2,23420,4.0,12,2,9.0,2,6,0,4
5,46,0,2,1,8,3,1,0,4,5,1,40710,3.0,13,0,28.0,5,7,7,7
6,28,1,2,1,11,2,3,1,2,7,2,58130,2.0,20,1,5.0,2,0,0,0
7,29,0,2,1,18,3,1,1,2,7,1,31430,2.0,22,3,10.0,2,0,0,0
8,31,0,2,1,1,3,1,1,3,2,1,20440,0.0,21,0,10.0,2,9,7,8
9,25,0,0,1,7,4,3,0,4,2,0,134640,1.0,13,1,6.0,2,6,1,5
10,45,0,2,1,17,2,3,1,2,2,1,79910,0.0,13,2,21.0,2,20,4,10
11,36,0,2,1,28,1,1,1,1,2,1,33770,0.0,12,2,16.0,2,15,10,11
12,55,0,2,1,14,4,1,0,1,7,2,55380,0.0,17,0,37.0,2,36,4,13
13,47,1,0,1,1,1,3,1,1,6,1,57620,1.0,11,2,10.0,4,10,9,9
14,28,0,2,1,1,3,1,1,1,4,1,25920,1.0,14,0,5.0,2,5,0,4
15,37,0,2,1,1,3,1,1,2,0,1,53460,4.0,11,0,7.0,2,5,0,1
16,21,0,2,1,3,2,1,1,1,2,2,42130,1.0,12,3,3.0,3,3,1,0
17,37,0,0,1,1,3,3,1,2,7,0,41270,2.0,13,1,15.0,2,5,0,2
18,35,0,2,2,7,4,1,1,1,8,0,24380,7.0,16,0,10.0,5,7,6,2
19,38,0,2,1,8,3,1,0,1,3,0,68700,1.0,11,1,8.0,5,8,7,7
20,26,0,1,1,1,4,4,1,2,2,0,104470,1.0,18,0,6.0,3,6,1,4
21,50,0,2,2,8,4,1,1,1,6,0,96670,3.0,23,0,28.0,2,10,1,6
22,53,0,2,1,11,4,1,0,2,6,1,21480,3.0,11,0,21.0,2,5,1,3
24,29,0,1,1,16,4,3,1,1,2,2,65130,1.0,11,1,10.0,2,10,0,9
25,55,0,2,1,1,4,4,0,1,6,1,67990,3.0,11,0,12.0,2,10,0,8
26,26,0,1,1,9,3,1,0,1,3,1,162910,1.0,22,0,5.0,3,5,3,3
27,37,0,2,2,5,1,2,1,1,6,2,27050,1.0,11,0,17.0,2,17,5,7
28,44,1,1,1,1,2,3,1,2,6,0,103330,3.0,14,1,19.0,2,1,0,0
29,38,0,2,2,2,3,2,0,1,3,0,44480,9.0,12,0,10.0,3,2,1,2
30,26,1,2,1,4,3,3,1,3,6,0,68540,2.0,11,0,5.0,5,3,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4378,37,0,1,2,2,3,2,0,2,2,0,97560,4.0,19,0,13.0,2,9,5,8
4379,29,0,1,2,15,4,3,0,1,7,1,49680,1.0,19,3,11.0,4,11,4,1
4380,35,0,1,1,19,3,1,0,1,7,2,21450,1.0,13,0,10.0,6,10,0,8
4381,29,1,2,1,7,1,1,0,1,6,2,21800,1.0,21,0,4.0,2,4,0,1
4382,52,0,2,1,1,2,3,0,4,3,2,83460,7.0,14,0,6.0,5,2,2,2
4383,42,0,2,1,7,4,1,0,2,7,1,34450,1.0,11,2,22.0,2,22,11,15
4384,59,0,2,1,4,4,5,1,1,0,1,27600,8.0,11,0,7.0,3,2,2,2
4385,50,0,2,1,11,2,1,1,2,7,0,62940,3.0,23,1,32.0,2,7,0,6
4386,33,1,2,2,11,4,2,1,1,6,1,71400,5.0,21,0,8.0,2,5,0,4
4387,43,0,2,2,1,3,2,0,2,4,1,29320,5.0,24,0,22.0,3,17,1,9
4388,33,1,2,2,1,3,1,1,2,3,1,51470,7.0,11,0,13.0,2,9,1,7
4389,52,0,0,1,2,3,5,1,1,7,2,45070,1.0,14,0,33.0,3,33,15,12
4390,32,0,2,0,13,4,1,0,3,4,1,85640,2.0,16,1,6.0,2,4,1,2
4391,32,1,2,2,23,1,1,1,3,0,2,24680,0.0,11,0,4.0,2,3,1,2
4392,39,0,2,2,26,4,1,1,2,5,0,81610,7.0,12,1,7.0,2,3,1,2
4393,32,0,0,2,2,4,2,1,4,6,1,21090,0.0,13,1,4.0,3,3,2,2
4394,41,0,2,2,29,3,1,0,2,2,0,52940,2.0,15,0,17.0,3,1,0,0
4396,45,0,2,1,18,1,1,0,2,8,1,58110,0.0,14,0,25.0,4,24,1,7
4397,31,0,1,1,7,4,3,1,1,6,0,24370,9.0,14,1,9.0,3,2,2,2
4398,33,0,2,1,2,4,1,0,1,7,1,27660,1.0,12,1,2.0,2,2,0,2
4399,34,0,2,1,26,3,4,0,1,7,1,190380,6.0,13,0,13.0,3,11,5,9
4400,37,0,2,1,22,5,3,0,2,4,1,30550,2.0,14,3,17.0,3,3,0,2
4401,45,0,1,2,21,1,2,1,3,6,1,22890,4.0,13,0,9.0,3,3,0,2
4402,37,1,1,2,2,3,2,1,1,2,0,40010,6.0,11,1,17.0,2,1,0,0
4403,39,0,1,1,22,3,3,0,1,4,2,129650,0.0,19,1,20.0,2,19,11,8
4404,29,0,2,2,4,3,4,0,2,1,2,35390,1.0,18,0,6.0,2,6,1,5
4405,42,0,2,1,5,4,3,0,1,6,2,60290,3.0,17,1,10.0,5,3,0,2
4406,29,0,2,1,2,4,3,1,1,2,0,26790,2.0,15,0,10.0,2,3,0,2
4407,25,0,2,1,25,2,1,1,2,7,1,37020,0.0,20,0,5.0,4,4,1,2
4408,42,0,2,2,18,2,3,1,1,2,0,23980,0.0,14,1,10.0,2,9,7,8

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4382 entries, 0 to 4408
Data columns (total 20 columns):
Age                        4382 non-null int64
Attrition                  4382 non-null int32
BusinessTravel             4382 non-null int32
Department                 4382 non-null int32
DistanceFromHome           4382 non-null int64
Education                  4382 non-null int64
EducationField             4382 non-null int32
Gender                     4382 non-null int32
JobLevel                   4382 non-null int64
JobRole                    4382 non-null int32
MaritalStatus              4382 non-null int32
MonthlyIncome              4382 non-null int64
NumCompaniesWorked         4382 non-null float64
PercentSalaryHike          4382 non-null int64
StockOptionLevel           4382 non-null int64
TotalWorkingYears          4382 non-null float64
TrainingTimesLastYear      4382 non-null int64
YearsAtCompany             4382 non-null int64
YearsSinceLastPromotion    4382 non-null int64
YearsWithCurrManager       4382 non-null int64
dtypes: float64(2), int32(7), int64(11)
memory usage: 599.1 KB

In [10]:
y = df['Attrition']
x = df.drop(columns = ['Attrition'])

In [11]:
X = sn.add_constant(x)
logistic_model1 = sn.Logit(y,X)

C:\Users\Pratik Thombare\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [12]:
result1 = logistic_model1.fit()

Optimization terminated successfully.
         Current function value: 0.392916
         Iterations 7

In [13]:
result1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:              Attrition   No. Observations:                 4382
Model:                          Logit   Df Residuals:                     4362
Method:                           MLE   Df Model:                           19
Date:                Sat, 08 Aug 2020   Pseudo R-squ.:                  0.1093
Time:                        14:06:13   Log-Likelihood:                -1721.8
converged:                       True   LL-Null:                       -1933.1
                                        LLR p-value:                 8.681e-78
===========================================================================================
                              coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                       0.0270      0.414      0.065      0.948      -0.785       0.839
Age                        -0.0307      0.007     -4.478      0.000      -0.044      -0.017
BusinessTravel             -0.0137      0.066     -0.209      0.834      -0.143       0.115
Department                 -0.2229      0.082     -2.735      0.006      -0.383      -0.063
DistanceFromHome           -0.0012      0.005     -0.231      0.818      -0.012       0.009
Education                  -0.0664      0.043     -1.555      0.120      -0.150       0.017
EducationField             -0.0954      0.034     -2.849      0.004      -0.161      -0.030
Gender                      0.0855      0.090      0.952      0.341      -0.091       0.262
JobLevel                   -0.0285      0.040     -0.716      0.474      -0.107       0.050
JobRole                     0.0400      0.018      2.226      0.026       0.005       0.075
MaritalStatus               0.5835      0.063      9.212      0.000       0.459       0.708
MonthlyIncome           -1.815e-06   9.57e-07     -1.897      0.058   -3.69e-06    6.01e-08
NumCompaniesWorked          0.1174      0.018      6.390      0.000       0.081       0.153
PercentSalaryHike           0.0126      0.012      1.067      0.286      -0.011       0.036
StockOptionLevel           -0.0675      0.052     -1.302      0.193      -0.169       0.034
TotalWorkingYears          -0.0584      0.012     -4.873      0.000      -0.082      -0.035
TrainingTimesLastYear      -0.1443      0.035     -4.097      0.000      -0.213      -0.075
YearsAtCompany              0.0132      0.018      0.718      0.473      -0.023       0.049
YearsSinceLastPromotion     0.1328      0.020      6.479      0.000       0.093       0.173
YearsWithCurrManager       -0.1394      0.022     -6.288      0.000      -0.183      -0.096
===========================================================================================
"""